*~
*.o
*.d
QMP/qmp-commands.txt
config-all-devices.mak
config-host.h
config-host.h-timestamp
config-host.ld
config-host.mak
config.log
i386-softmmu/
libdis-user/
libdis/
libhw32/
libhw64/
libuser/
linux-headers/asm
pc-bios/optionrom/linuxboot.bin
pc-bios/optionrom/multiboot.bin
qapi-generated/
qapi-types.c
qapi-visit.c
qemu-doc.html
qemu-ga
qemu-img
qemu-img-cmds.h
qemu-img-cmds.texi
qemu-img.1
qemu-img.pod
qemu-io
qemu-monitor.texi
qemu-nbd
qemu-nbd.8
qemu-nbd.pod
qemu-options.def
qemu-options.texi
qemu-tech.html
qemu.1
qemu.pod
qmp-marshal.c
roms/seabios/config.mak
roms/vgabios/config.mak
scripts/ordereddict.pyc
scripts/qapi.pyc
trace.c
trace.c-timestamp
trace.h
trace.h-timestamp
